<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ product.name }}</title>
</head>
<body>
    <h1>{{ product.name }}</h1>
    <p>Category: {{ product.category }}</p>
    <p>Price: {{ product.price }}</p>
    <p>Available: {{ product.available }}</p>
    <p>Created at: {{ product.created_at }}</p>
    <p>Description: {{ product.description }}</p>
    <a href="{% url 'app_one:index' %}">Back to products list</a>
</body>
</html>
